body,html {
  /* font-family: "Lato", sans-serif; */
  font-family: Quicksand, sans-serif;
  width:100%;
  height:100%;
}

body {
  background-color: #fff;
  position: relative;
}

h1 {
  font-size:3.5rem;
}

.careers {
  height:100%;
  background-color: none;
  background: url(../img/career_bg.jpg);
  background-size:cover;
  background-position: center;
}

.dark-overlay {
  background-color: rgba(7,29,59,0.7);
  position:absolute;
  top:0;
  left:0;
  z-index: 0;
  width:100%;
  height:100%;
}

.btn-primary, .btn-primary:active{
  background-color: #3FA9F5;
  border: #3FA9F5;
  border-radius: 20px;
  font-size: 1.2rem;
}

.wwd{
  background-color: #fff;
}

.line{
  width: 100%;
  border-bottom: 1px solid;
}

.icon {
  width: 30%;
  height:30%;
}

h4{
  font-size:1.6rem;
}

.footer {
  color:#fff;
  background: #0E346B
}

.copyright {
  color:#dadada;
  font-size: 12px;
}

p {
  font-size: 1.2rem;
}


.navbar {
  font-family: "Lato", sans-serif;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link{
  color: #fff;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link.active{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link:hover{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200 linear;
  box-shadow: 0px 2px 20px #dadada;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link{
  color: #000;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link.active{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link:hover{
  color: #3FA9F5;
}

/* .navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .navbar-brand{
  color: #fff;
} */

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .navbar-toggler{
  background-color: #0364A6;
}

@media screen and (max-width: 992px) {

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .hovereffect h2{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }

  h4{
    font-size: 1.2rem;
  }

  .icon {
    width:30%;
    height:30%;
  }

  p {
    font-size:0.9rem;
  }

  h5 {
    font-size:1.1rem;
  }

}



/* below are not neede yet */




hr {
  border: none;
}

.tech-tab{
  font-size: 2rem;
  color: #0364A6;
}



.half-width{
    width:50%;
}
