body,html {
  /* font-family: "Lato", sans-serif; */
  font-family: Quicksand, sans-serif;
  width:100%;
  height:100%;
}

body {
  position: relative;
}

h1 {
  letter-spacing: 0.2rem;
}

.navbar {
  font-family: "Lato", sans-serif;
}

.ecr-section {
  height:100%;
  background-color: #fff;
  overflow: hidden;
}

.intro-text {
  letter-spacing: 0.02rem;
  line-height: 2rem;
}

#ecr-features{
    background-color: #e9e9e9;
    overflow: hidden;
}

h2 {
  letter-spacing: 0.2rem;
}

.card {
  box-shadow: 0px 2px 20px #d3d3d3;
}

.icon {
  width:15%;
  height:15%;
  opacity: 0.6;
}

hr {
    border: none;
}

.footer-info {
  font-size:1.2rem;
}

.arrow {
  color: #dadada;
}

/* 992px is medium sreen size */
@media screen and (max-width: 992px) {

  .intro-text{
    font-size: 1rem;
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.2em;
  }

  .footer-info {
    font-size:0.9rem;
  }

  h2 {
    font-size:1.3rem;
  }

  h4 {
    font-size:0.8rem;
  }

  h5 {
    font-size:1.1rem;
  }

  .footer-info p {
    font-size: 0.9rem;
  }
}

h3 {
  font-size: 1.9rem;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top{
  box-shadow: 0px 2px 20px #dadada;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link{
  color: #000;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link.active{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link:hover{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top .navbar-toggler{
  background-color: #0364A6;
}

.footer {
  color:#fff;
  background: #0E346B
}

.footer-info p {
  font-size: 1.2rem;
}

.copyright {
  color:#dadada;
  font-size: 12px;
}

#contact p{
  font-size: 12px;
}
