.navbar.navbar-expand-lg.navbar-dark .nav-link{
  color: #fff;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link.active{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link:hover{
  color: #3FA9F5;
}

/* .navbar-brand{
  color: #fff;
} */

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200 linear;
  box-shadow: 0px 2px 20px #dadada;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link{
  color: #000;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link.active{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link:hover{
  color: #3FA9F5;
}

/* .navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .navbar-brand{
  color: #fff;
} */

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .navbar-toggler{
  background-color: #0364A6;
}
