body,html {
  font-family: "Lato", sans-serif;
  width:100%;
  height:100%;
}

body {
  background-color: #e9e9e9;
  position: relative;
}

.logo_img {
  width:20%;
  height:20%;
}

.logo_words {
  width: 75%;
  height:75%;
}

h3 {
  font-size: 1.9rem;
}

p {
  font-size: 1.2rem;
}

/* 768px is medium sreen size */
@media screen and (max-width: 768px) {

  h3 {
    font-size: 1.2em;
  }

  .logo_img {
    width:40%;
    height:40%;
  }

  .logo_words {
    width: 100%;
    height: 100%;
  }

  p {
    font-size:0.9rem;
  }

  h2 {
    font-size:1.3rem;
  }

  h5 {
    font-size:1.1rem;
  }
}

hr {
  border: none;
}

/* not really useful right now but may be of use in the future */
.bg-img {
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background: url(../img/landingpage_animation_v3.5.gif);
  background-size:cover;
  background-position: center;
}

/* not really useful right now but may be of use in the future */
.dark-overlay {
  background-color: rgba(11,11,11,0);
  position:absolute;
  top:0;
  left:0;
  z-index: 1;
  width:100%;
  height:100%;
}

.home-section {
  height:100%;
  background-color: none;
  background: url(../img/landingpage_animation_v3.5.gif);
  background-size:cover;
  background-position: center;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link{
  color: #fff;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link.active{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark .nav-link:hover{
  color: #3FA9F5;
}

/* .navbar-brand{
  color: #fff;
} */

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200 linear;
  box-shadow: 0px 2px 20px #dadada;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link{
  color: #000;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link.active{
  color: #3FA9F5;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .nav-link:hover{
  color: #3FA9F5;
}

/* .navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .navbar-brand{
  color: #fff;
} */

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolled .navbar-toggler{
  background-color: #0364A6;
}

.btn-primary, .btn-primary:active{
  background-color: #3FA9F5;
  border: #3FA9F5;
  border-radius: 20px;
}

#solutions{
  background-color: #e9e9e9;
}

.solution-title {
    font-size: 1em
}

.card{
   box-shadow: 0px 2px 20px #d3d3d3;
}

.footer {
  color:#fff;
  background: #0E346B
}

.copyright {
  color:#dadada;
  font-size: 12px;
}
